@model Proyecto_sena.Models.Cliente;

@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-04.cshtml";
}

<h2 class="my-3">Edición de usuario</h2>

<div class="card col-7">
    <div class="card-header">
        Por favor edite cualquiera de los campos
    </div>

    <div class="card-body">
        <form method="POST" asp-action="EditarCompañia">

            @* <input type="hidden" id="IdCliente" name="IdCliente" /> *@
            <div class="my-3">
                <label asp-for="NombreCliente" class="form-label">Nombre de la compañía</label>
                <input asp-for="NombreCliente" class="form-control" type="text" name="nombre"
                value="@ViewBag.compañia.NombreCompañia">
            </div>

            <div class="my-3">
                <label asp-for="ApellidoCliente" class="form-label">Teléfono</label>
                <input asp-for="ApellidoCliente" type="text" class="form-control" name="telefono" 
                value="@ViewBag.compañia.TelefonoCompañia">
            </div>

            <div class="my-3">
                <label asp-for="CorreoElectronicoCliente" class="form-label">Correo</label>
                <input asp-for="CorreoElectronicoCliente" class="form-control" type="email" name="correo"
                value="@ViewBag.compañia.CorreoElectronicoCompañia">
            </div>

            <div class="my-3">
                <label asp-for="CorreoElectronicoCliente" class="form-label">Dirección</label>
                <input asp-for="CorreoElectronicoCliente" class="form-control" type="text" name="direccion" 
                value="@ViewBag.compañia.DireccionCompañia">
            </div>

            <div class="my-3">
                <label asp-for="CorreoElectronicoCliente" class="form-label">NIT de la compañía</label>
                <input asp-for="CorreoElectronicoCliente" class="form-control" type="text" name="nit_compañia"
                value="@ViewBag.compañia.NitCompañia">
            </div>

            <button type="submit" class="btn btn-primary my-3">Editar</button>
        </form>
    </div>
</div>

