@{
    ViewData["Title"] = "TableroC";
    Layout = "~/Views/Shared/_Layout-04.cshtml";
}

<h1 class="h3 mb-3">Listado de servicios</h1>

<div class="card flex-fill w-100">
    <div class="card-header">
        <h2 class="card-title mb-0">Resultado</h2>
    </div>
    <div class="card-body">
        <table id="mitabla2" class="table">
            <thead>
                <tr>
                    <th class="id_producto">Id producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @ViewBag.longitud; i = i + 3)
                {
                    <tr>
                        <td class="id_producto"> @ViewBag.lista[i]</td>
                        <td> @ViewBag.lista[i + 1]</td>
                        <td> @ViewBag.lista[i +2]</td>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <form asp-controller="TableroC" asp-action="EditarS" method="post">
                                        <button role="button" class="btn btn-secondary mx-3"
                                    value="@ViewBag.lista[i]" name="id_producto"> Editar</button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form asp-controller="TableroC" asp-action="EliminarServicio" method="post">
                                        <button role="button" class="btn btn-danger mx-3" name="id_producto" 
                                        value="@ViewBag.lista[i]" onclick="return confirm('¿Está seguro de eliminar este registro?')">Eliminar</button>
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <a class="btn btn-primary mt-5" asp-controller="TableroC" asp-action="FormServicio" role="button">Agregar
            servicio</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<script>
    const dataTable = new simpleDatatables.DataTable("#mitabla2", options = {
        labels: {
            placeholder: "Buscar...", perPage: "{select} entradas por página",
            noRows: "No entradas encontradas", noResults: "Ningún resultado encontrado",
            info: "Mostrando {start} a {end} de {rows} entradas"
        }
    });
</script>