@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout-03.cshtml";
}

<h2>Búsqueda de servicios en la nube</h2>

<div class="card flex-fill w-100">
    <div class="card-body">
        <p class="card-text"> Aquí puede encontrar los diferentes servicios ofrecidos por diferentes compañías. </p>
        <table class="table" id="mitabla">
            <thead>
                <tr>
                    <th class="id_producto">Id producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Compañia</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @ViewBag.longitud; i = i + 4)
                {
                    <tr>
                        <td class="id_producto"> @ViewBag.lista[i]</td>
                        <td> @ViewBag.lista[i + 1]</td>
                        <td> @ViewBag.lista[i +2]</td>
                        <td> @ViewBag.lista[i +3]</td>
                        <td>


                            <button type="button" class="btn btn-outline-secondary boton-sel" data-id=@ViewBag.lista[i]
                            data-bs-toggle="button" autocomplete="off">
                                Seleccionar</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <a id="envio-boton" asp-controller="TableroCM" asp-action="MostrarServicios" class="btn btn-primary">Enviar
            algo</a>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>

<script>
    const dataTable = new simpleDatatables.DataTable("#mitabla", options = {
        labels: {
            placeholder: "Buscar...", perPage: "{select} entradas por página",
            noRows: "No entradas encontradas", noResults: "Ningún resultado encontrado",
            info: "Mostrando {start} a {end} de {rows} entradas"
        }
    });

    let conjunto_ids = new Set();
    const lista_botones = document.getElementById("mitabla");

    lista_botones.addEventListener("click", (e) => {
        console.log(e.target);
        if (e.target.classList.contains("active") && e.target.classList.contains("btn")) {
            console.log("Tiene la clase que quiero");
            console.log(e.target.dataset.id);
            conjunto_ids.add(e.target.dataset.id);
            e.target.innerText = "Seleccionado";
        }

        if (!e.target.classList.contains("active") && e.target.classList.contains("btn")) {
            console.log("No está la clase");
            console.log(e.target.dataset.id);
            conjunto_ids.delete(e.target.dataset.id);
            e.target.innerText = "Seleccionar";
        }

    });

    const boton = document.getElementById("envio-boton");
    boton.addEventListener("click", (evento) => {
        evento.preventDefault();

        const url = "../TableroCM/CogerDatos";

        const lista_ids = { "ids": [] };
        conjunto_ids.forEach(function (value) {
            lista_ids.ids.push({ "id": value })
        });

        try {
            const response = fetch(url, {
                method: "POST",
                body: JSON.stringify(lista_ids),
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                }
            }).then(console.log(JSON.stringify(lista_ids))).
                then(response => {
                    console.dir(response);
                    console.info(response.url);
                    window.location.replace(response.url);
                }).
                catch(error => console.error(error));
        } catch (e) {
            console.error(e);
        }
    });

</script>
