@{
    ViewData["Title"] = "Tablero";
    Layout = "~/Views/Shared/_Layout-03.cshtml";
}

<h2 class="my-3">Información sobre el usuario</h2>

<div class="card">
    <div class="card-header"> Se muestran todos los datos del usuario
    </div>
    <div class="card-body">
        <div class="card-text my-3">
            <h4>Nombre de la compañía</h4>
            @ViewBag.compañia.NombreCompañia
        </div>

        <div class="card-text my-3">
            <h4>Teléfono de la compañía</h4>
            @ViewBag.compañia.TelefonoCompañia
        </div>

        <div class="card-text my-3">
            <h4>Correo de la compañía</h4>
            @ViewBag.compañia.CorreoElectronicoCompañia
        </div>

        <div class="card-text my-3">
            <h4>NIT de la compañía</h4>
            @ViewBag.compañia.NitCompañia
        </div>

        <div class="card-text my-3">
            <h4>Dirección de la compañía</h4>
            @ViewBag.compañia.DireccionCompañia
        </div>

        <div class="my-3">Haga click <a asp-controller="TableroCM" asp-action="Contrasena" class="card-link">aquí</a> para
            cambiar la contraseña</div>
        <div class="my-3">Haga click <a asp-controller="TableroCM" asp-action="Editar" class="card-link">aquí</a> para
            editar los datos</div>
    </div>
</div>
